Repository BarskiTeam/BostarDecksWeb, pull requests merged in 2020-12, with the labels that each got.

#40 Iss 39 redefine structure of api api/something > api/v1/something
  api/apps.py
  api_v1/__init__.py
  api_v1/admin.py
  api_v1/apps.py
  api_v1/migrations/__init__.py
  api_v1/models.py
  api_v1/permissions.py
  api_v1/serializers.py
  api_v1/tests.py
  api_v1/urls.py
  api_v1/views.py
  bostardecksweb/settings.py
  bostardecksweb/urls.py
Labels: refactor

#47 Fix datebase problems
  api_v1/serializers.py
  api_v1/views.py
  bostardecksweb/settings.py
  core/admin.py
  core/migrations/0001_initial.py
  core/models.py
  docker-compose.yaml
Labels: bug

#70 Iss 67 flashcard revers< >avers change a order in default list of atributtes
  core/models.py
  docs/datebase.rst
Labels: core, documentation, invalid

#52 ISS-44 login to account
  bostardecksweb/settings.py
  bostardecksweb/urls.py
  front/templates/front/raw.html
  front/urls.py
  front/views.py
  templates/registration/login.html
Labels: enhancement, front

#54 [ISS-42] show list of decks
  front/static/front/js/decks.js
  front/templates/front/base.html
  front/templates/front/decks.html
  front/templates/front/raw.html
  front/urls.py
Labels: enhancement, front

#84 [ISS-83] Update dockerfile
  docker-compose.yaml
Labels: bug, docker

#68 [ISS-63] view all flashcards from one deck
  api_v1/views.py
  docs/api.rst
Labels: api, documentation, enhancement

#86 [ISS-85] Add misssing requirements
  requirements.txt
Labels: python-lib-install

#94 [ISS-92] delete unused docs/requirements.txt
  docs/requirements.txt
Labels: documentation

#98 [ISS-79] Use pyenv to manage requirements
  .github/workflows/django.yml
  Pipfile
  Pipfile.lock
  requirements.txt
Labels: bug, libs

#78 [ISS-77] implement django revers url delete hard code html && js
  api_v1/urls.py
  front/static/front/js/decks.js
  front/templates/front/base.html
  front/templates/front/decks.html
Labels: enhancement, front

#112 [ISS-111] lowercase for DRF api-root and reverse-url
  api_v1/urls.py
  api_v1/views.py
Labels: api, bug

#113 [ISS-64](FlashCard|flashCard)->flashcard|Flashcard
  api_v1/serializers.py
  api_v1/tests.py
  api_v1/views.py
  core/admin.py
  core/factories.py
  core/migrations/0001_initial.py
  core/models.py
  core/tests/test_factories.py
  docs/api.rst
  docs/datebase.rst
Labels: api, bug, core

#116 [ISS-57] keycloaker - delete from project
  .env.example
  docker-compose.yaml
  docs/datebase.rst
Labels: delete, docker

#122 [ISS-114] .env.example file - add variable for adminer port
  .env.example
  docker-compose.yaml
Labels: docker

#125 [ISS-124] bugs in [ISS-64] - Flashcard->flashcard
  api_v1/urls.py
Labels: bug
